/*  your css code here. If applicable */
body{
      font-family: Arial, sans-serif;
      padding: 20px;
    }
    h1 span{
        color: rgb(66, 66, 245);
    }
    .form-group{
      margin-bottom: 20px;
    }
    label{
      font-weight: bold;
      display: block;
      margin-top: 10px;
    }
    input{
      display: block;
      padding: 8px;
      width:80vw
    }
    button{
        background-color: rgb(71, 71, 244);
        border: none;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        padding: 8px;
    }
    #id-submit:active {
  border: 4px solid lightblue;
		transition:0.3s
}
    .table{
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }
    thead{
        border-bottom: 2px solid black;
    }
    .table th, .table td{
      padding: 10px;
      text-align: left;
     
    }
    tbody{
        background-color: silver;
    }
    .delete{
      background: red;
      padding: 6px 12px;
      color: white;
      border: none;
      cursor: pointer;
      border-radius: 4px;
    }